snippet cnd
	(c) `strftime("%Y")` `g:snips_nick`
snippet tcnd
	(c) ${1:`strftime("%Y")`}-${2: xx} `g:snips_nick`
snippet nd
	`strftime("%Y")` `g:snips_nick`
snippet tnd
	${1:`strftime("%Y")`}-${2: xx} `g:snips_nick`
